<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form >
            <a href="CandidateProfile" class="btn btn-info" role="button">Candiadate Profiles</a><br>
            <a href="GetCandidateJobs" class="btn btn-info" role="button">All Jobs</a><br>

            <a href="ViewEnquiries" class="btn btn-info" role="button">View Enquiries</a><br>
            <a href="JobApplication" class="btn btn-info" role="button">Post a new job</a><br>

 

    </form>
    <form class="form"  id="myForm">
        <input type="text" name="job" id="job"><br>
        <input type="submit" value="View job"><br>
            
    </form>
    
    <script>
       myForm.addEventListener('submit',function(e){
        e.preventDefault()
       
         var job=document.getElementById("job").value;
         console.log(job);
         localStorage.setItem("textvalue",job);
         
         window.location="http://192.168.1.56:3000/GetJobData";
       })


        
    </script>
</body>
</html>