<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
  
    
    <div id="user">
   
        
<form class="form" id="myForm">
<select name="title" id="user1" >
    
</select>
<input type="submit" name="submit" value="submit" id='mybtn'>
</form>

</div>
  <script>
      


      function submit(){
          fetch('http://localhost:3000/ActivePositions/ActivePositions')
          .then(Response=>Response.json())
          .then(json=>{
              return json.map(user=>{
                  let html=document.getElementById('user1');
                  html.innerHTML +=`
                    <option value=${user.jobtitle}>${user.jobtitle}</option>
                   `
                  
              });

          })
      }
      submit();
      myForm.addEventListener('submit',function(e){
        e.preventDefault()
        var title=document.getElementById("user1").value;
         console.log(title);
         //console.log("hello");
         localStorage.setItem("textvalue1",title);
         window.location="http://localhost:3000/GetCandidateJobsData";



      })
    
  </script>

</body>
</html>