<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>

    <h1>hello</h1>

    <div >
     

      <table class="table">
        <thead>
            <tr>
          <th>ID</th>
          <th>JID</th>
          <th>DESIGNATION</th>
          <th>DEPARTMENT</th>
          <th>Close job</th>
        </tr>
        </thead>
        <tbody>
          <tr id="user">
         
          </tr>
        </tbody>
      </table>

  
    </div>
    <script>
        function getjobdata1(){
            const store=localStorage.getItem("textvalue1")
            console.log(store);
            console.log("hello");
            
    const formData=new FormData();
    //formData.append('title',myselect);
    formData.append('title',store)
   

    fetch('http://192.168.1.56:3000/GetCandidateJobs/GetCandidateJobs',{
        method:'post',
        body:formData
    }).then(function(response){
        return response.json();
    }).then(json=>{
          return json.map(user=>{
              let html=document.getElementById('user');
              html.innerHTML +=` <td>${user.id}</td>
              <td>${user.jid}</td>
              <td>${user.designation}</td>
              <td>${user.depatment}</td>
              <td>
<form action="/UpdateStatus/UpdateStatus" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="title" value=${store}>
<input type="submit" value="submit">
</td>
               `
     
            })
    })
}
getjobdata1();
</script>
<table>
   
</table>
</form>
<a href="AdminHome.html"><u>admin home</u></a>
</body>
</html>