<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="user">
        <h1>Available Jobs</h1>
        <script>

            function getjobdata(){
                const store=localStorage.getItem("textvalue")
                console.log(store);
                
        const formData=new FormData();
        //formData.append('title',myselect);
        formData.append('job',store)
       
    
        fetch('http://localhost:3000/SearchJob/SearchJob',{
            method:'post',
            body:formData
        }).then(function(response){
            return response.json();
        }).then(json=>{
              return json.map(user=>{
                  let html=document.getElementById('user');
                  html.innerHTML +=`
                    <h6>${user.jid}</h6>
                   `
                  
              })

            
        })
    }
            getjobdata();
            </script>
    </div>
</body>
</html>