<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div >
            <table class="table">
                    <thead>
                        <tr>
                      <th>Jobid</th>
                      <th>JobTitle</th>
                      
                    </tr>
                    </thead>
                    <tbody id="user">
                      
                    </tbody>
                  </table>
   
        <script>

            function getjobdata(){
                const store=localStorage.getItem("textvalue")
                console.log(store +"store value");
                
        const formData=new FormData();
        //formData.append('title',myselect);
        formData.append('job',store)
       
    
        fetch('http://192.168.1.56:3000/SearchJob/SearchJob',{
            method:'post',
            body:formData
        }).then(function(response){
            return response.json();
        }).then(json=>{
              return json.map(user=>{
                  let html=document.getElementById('user');
                  html.innerHTML +=`<tr><td>${user.jid}</td>
                  <td>${user.jobtitle}</td><tr>
                   
                   `
                  
              })

            
        })
    }
            getjobdata();
            </script>
    </div>
</body>
</html>