<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
  
    
    <div >
            <table class="table table-striped" id="user">
                    <thead >
                        <tr>
                      <th>NAME</th>
                      <th>EMAIL</th>
                      <th>MOBILE</th>
                      <th>MESSAGE</th>
                    </tr>
                    </thead>
                      
                  </table>
            
   
        

    



</div>
  <script>
      


      function submit(){
          fetch('http://192.168.1.56:3000/ViewEnquiries/ViewEnquiries')
          .then(Response=>Response.json())
          .then(json=>{
              return json.map(user=>{
                  let html=document.getElementById('user');
                  html.innerHTML +=`<tr><td>${user.name}</td>
              <td>${user.email}</td>
              <td>${user.mobile}</td>
              <td>${user.message}</td></tr>`

                    
                   
                  
              });

          })
      }
      submit();
     
    
  </script>
  <a href="AdminHome.html"><u>admin home</u></a>

</body>
</html>